
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

body{
    font-family: sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 40px 0 0;
}

li{
    padding: 15px 25px;
    margin: 70px auto;
    display: table;
    width:45%;
    text-align: left;
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
td {
    padding: 4px 0;
}
td:nth-child(1) {
    padding-right: 8px;
}
td:nth-child(2) {
    /*overflow-wrap: anywhere;*/
    padding-left: 8px;
    text-align: right;
}

;

